body {
    height: 100%;
    padding-top: 70px;
}

.main {
    min-height: 90vh;
    margin-top: 15px;
    padding-bottom: 60px;
}

.form-register {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-register .form-register-heading {
    margin-top: 70px;
    margin-bottom: 30px;
}

.form-register label,
.form-register input {
    margin-bottom: 10px;
}

.form-register .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-register .form-control:focus {
    z-index: 2;
}

.form-register button {
    margin-top: 30px;
}

.footer {
    position: relative;
    height: 10vh;
    margin-top: -10vh;
    padding-top: 4vh;
    background-color: #f5f5f5;
}