<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ceekly</title>
    <link rel="shortcut icon" href="https://img.icons8.com/ios/50/000000/java-coffee-cup-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{css/welcome.css}">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/welcome">Ceekly</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/welcome">主页</a>
                </li>
                <li>
                    <a href="/login">登录</a>
                </li>
                <li>
                    <a href="/register">注册</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container main">

    <div class="jumbotron">
        <h1>君子不器</h1>
        <p>被压迫人民争取彻底的解放，首先是依靠自己的斗争，其次才是国际的援助。</p>
        <p>
            <a class="btn btn-lg btn-default" href="/login">开始周报 »</a>
        </p>
    </div>

    <div class="page-header">
        <h1>阅读书单</h1>
    </div>
    <div class="row">

        <!--/*@thymesVar id="userList" type="com.corgiduo.ceekly.entity.User"*/-->
        <div class="col-md-4" th:each="user: ${userList}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="${user.getNickname()}">用户名</h3>
                </div>
                <div class="panel-body">
                    <p th:each="book: ${user.getBookList()}">
                        <span class="glyphicon glyphicon-ok-sign" th:if="${book.getStatus()} eq 1"></span>
                        <span class="glyphicon glyphicon-eye-open" th:if="${book.getStatus()} eq 2"></span>
                        <span class="glyphicon glyphicon-plus-sign" th:if="${book.getStatus()} eq 3"></span>
                        <span th:text="${book.getTitle()}">书名</span>

                    </p>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="footer fixed-bottom">
    <div class="container">
        <p class="text-muted">
            Do have faith in what you're doing.
        </p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>